.sibling-fade { visibility: hidden; }
.sibling-fade > * { visibility: visible; }
.sibling-fade > * { transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms; }
.sibling-fade:hover > * { opacity: 0.3; transform: scale(0.9); }
.sibling-fade > *:hover { opacity: 1; transform: scale(1); transition-delay: 0ms, 0ms; }

html { display: flex; height: 100%; }
body { 
  padding: 10px;
  max-width: 100%;
  margin: auto;
  background: linear-gradient(30deg, #201a6c, #1a676c,#1a6c2c);
  background-size: 400% 400%;
  -webkit-animation: Gradient 13s ease infinite;
  -moz-animation: Gradient 13s ease infinite;
  animation: Gradient 13s ease infinite;
  
}

@-webkit-keyframes Gradient {
  0% {
      background-position: 0% 50%
  }
  50% {
      background-position: 100% 50%
  }
  100% {
      background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
      background-position: 0% 50%
  }
  50% {
      background-position: 100% 50%
  }
  100% {
      background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
      background-position: 0% 50%
  }
  50% {
      background-position: 100% 50%
  }
  100% {
      background-position: 0% 50%
  }
}


.sibling-fade {
  max-width: 160em;
  display: flex;
  flex-wrap: wrap;
  
}

.sibling-fade > * {
  border-radius: 25px;
  background: #ffffff2a;
  padding: 2em;
  flex: auto;
  margin: 0.3em;
  text-align: center;
  color: #ffffff;
  font-size: 1.5em;
  text-decoration: none;
}

h1 {
    align-content: center;
    font-family:"Tahoma";
    font-weight: 75;
    text-align: center;
    letter-spacing: 3px;
    font-size: 48px;
    color: #ffffff;
    -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}
footer {
    font-family: 'Libre Barcode 128 Text', cursive;
    text-align: center;
    font-size: 32px;
  }
h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
}
h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 100;
}
.main{
  text-align: center;
  font-size: 32px;
  
}
a{
  color: inherit;
  text-decoration: inherit;
}